#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 3px;
  column-gap: 3px;
}
#equal {
    grid-column: 3 / 5;
}
#display{
    grid-column: 1 / 5;
    color: white;
    font-family: Orbitron;
    padding: 10px;
    display: flex;
    align-items: center;  
    justify-content: right;
    border-radius: 7px;
    box-shadow: 6px 6px black;
}
input{
  text-align: right;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px black;
  
}
@media screen and (min-width: 450px){
  .grid{
    width: 460px;
    height: 400px;
    column-gap: 7px;
    row-gap: 7px;
  }
  .button{
    border-radius: 11px;
    font-family: Orbitron;
    font-weight: 500;
  }
}